{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>/home/colin</title>
  <link rel="stylesheet" href="/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="App">
    <div class="Header">
      <div class="Header__path">
        {% if section %}
          {{ macros::path_components(components = section.components) }}
        {% elif page %}
          {{ macros::path_components(components = page.components) }}
        {% elif term %}
          {{ macros::path_components(components = [ "tags", term.slug ]) }}
        {% elif terms %}
           {{ macros::path_components(components = [ "tags" ]) }}         
        {% endif %}
      </div>
      <div class="Header__links">
        <a href="/about">About</a>
      </div>
    </div>
    <div class="Content">
      {% block content %} {% endblock %}
    </div>
    <div class="Footer">
      <div class="Footer__left">
        <span>Copyright&nbsp</span>
        <span class="material-icons">
          copyright
        </span>
        <span>&nbspColin Wahl 2022</span>
      </div>
      <div class="Footer__right">
        <a href="https://www.linkedin.com/in/wahlcolin/">LinkedIn</a>
        <a href="https://github.com/colinwahl">GitHub</a>
      </div>
    </div>
  </div>
</body>

</html>
